.forum {
}

.forum th:first-child { border-top-left-radius: 3px; }
.forum th:last-child { border-top-right-radius: 3px; }

.forum th,
.forum td {
	padding: 10px 14px;
	vertical-align: middle;
}

.forum .align-left { text-align: left; }
.forum .align-center { text-align: center; }
.forum .align-right { text-align: right; }

.forum .text-title {
	font-weight: bold;
	font-size: 13px;
}

.forum p {
	margin-top: 3px;
	font-size: 11px;
	color: #777;
}

.forum tbody tr:last-child td:first-child { border-bottom-left-radius: 3px; }
.forum tbody tr:last-child td:last-child { border-bottom-right-radius: 3px; }

.forum thead th + th { border-left: 1px solid #91bd0d; }
.forum tbody tr + tr { border-top: 1px solid #333; }
.forum tbody td { background-color: #222; }
.forum tbody td + td { border-left: 1px solid #333; }

.forum th {
	font-weight: bold;
	font-size: 13px;
	color: #272727;
	background-color: #9fd10f;
}

.breadcrumbs {
	margin: 0 0 12px;
	list-style: none;
	background-color: #333;
	border-radius: 3px;
}

.breadcrumbs li {
	display: inline-block;
	padding: 10px 12px;
}

.breadcrumbs li + li:before {
	padding-right: 12px;
	color: #555;
	content: " \002F";
}

.breadcrumbs li + li { padding-left: 0; }
.breadcrumbs strong { font-weight: bold; }

.col-12 { width: 100%; }
.col-11 { width: 91.66666666666666%; }
.col-10 { width: 83.33333333333334%; }
.col-9 { width: 75%; }
.col-8 { width: 66.66666666666666%; }
.col-7 { width: 58.333333333333336%; }
.col-6 { width: 50%; }
.col-5 { width: 41.66666666666667%; }
.col-4 { width: 33.33333333333333%; }
.col-3 { width: 25%; }
.col-2 { width: 16.666666666666664%; }
.col-1 { width: 8.333333333333332%; }