/*
#messages_frame { overflow:auto;height:450px;}
#messages_frame section div span.alt { float:right; }
#message_count { display:none; }




#message_textarea { clear:both; padding-top:10px; ;}
#message_textarea input { float:right; margin-right:10px;  }
#message_textarea a { float:left; margin-left:10px;  }
#message_textarea textarea { margin-bottom:10px;}

#message_to {margin-left:30px;margin-right:auto; }
#message_to select { width:200px; }

#message_subject { margin-left:30px;margin-right:auto; }
#message_subject input { width:300px; }

#message { margin-left:30px;margin-right:auto; height: 250px;}
#message input { width:300px; }

#messages_buttons { margin-left:30px;margin-right:auto; padding-top: 10px; }

.pw_message_item{
padding-left:10px;
}
*/
/* Wybrany adresat */
#defender_user {
	display: inline-block;
	padding: 3px 8px;
	background: #fff;
	font-size: 11px;
	color: #333;
	border-radius: 5px;
}

#defender_user img {
	width: 7px;
	height: 7px;
	cursor: pointer;
}

/* Lista userów */
#send_to {
	outline: none;
}

#defenders ul,
#defenders .defender_error {
	display: block;
	position: absolute;
	width: 200px;
	background: #fff;
	font-size: 11px;
	color: #333;
	margin: 0;
	padding: 10px;
	border: 0;
	border-radius: 0 5px 5px 5px;
	-webkit-box-shadow: 0px 3px 21px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 3px 21px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 3px 21px rgba(50, 50, 50, 0.75);
}

#defenders ul {
	list-style: none;
}

#defenders .defender_error {
	text-align: center;
}

#defenders ul li {
	margin: 0;
	padding: 0;
	cursor: pointer;
	list-style: none;
	line-height: 180%;
	border-bottom: 1px #e5e5e5 dashed;
}

#defenders ul li:last-child {
	border: 0;
}

#defenders ul li:hover {
	color: #000;
	text-decoration: underline;
}