/* Ajaxowe wiadomości-------------------------------------------------------------------------------- */
#messages_page #ajax_messages article,
#messages_page .read_0,
#messages_page .read_1 {
	margin: 10px 20px;
	position: relative;
}

#messages_page #ajax_messages article .arrow,
#messages_page .read_0 .arrow,
#messages_page .read_1 .arrow {
	display: block;
	position: absolute;
	z-index:99;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 65px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#messages_page #ajax_messages article.sb_post .arrow {background: #2e2e2e;}
#messages_page .read_1 .arrow {background: #333;}
#messages_page #ajax_messages article.my_post .arrow,
#messages_page .read_0 .arrow {background: #3a3a3a;}

#messages_page #ajax_messages article .avatar,
#messages_page .read_0 .avatar,
#messages_page .read_1 .avatar {
	display: block;
	float: left;
	width: 40px;
	background: #3a3a3a;
	border: 5px #3a3a3a solid;
	border-radius: 5px;
}

#messages_page #ajax_messages article .pw_cont,
#messages_page .read_0 .pw_cont,
#messages_page .read_1 .pw_cont {
	position: relative;
	font-size: 11px;
	margin-left: 75px;
	padding: 7px 20px;
	border-radius: 0 5px 5px 5px;
}

#messages_page #ajax_messages article.sb_post .pw_cont {background: #2e2e2e;}
#messages_page .read_1 .pw_cont {background: #333;}
#messages_page #ajax_messages article.my_post .pw_cont,
#messages_page .read_0 .pw_cont  {background: #3a3a3a;}
#messages_page #ajax_messages article .pw_cont header {
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#messages_page #ajax_messages article.sb_post .pw_cont header {border-bottom: 1px #373737 dashed;}
#messages_page #ajax_messages article.my_post .pw_cont header {border-bottom: 1px #474747 dashed;}

#messages_page #ajax_messages article .pw_cont header strong {
	font-size: 12px;
	color: #99aa17;
}

#messages_page #ajax_messages article .pw_cont header time {
	width: auto;
	float: right;
	font-style: italic;
	line-height: 12px;
	color: #5f5f5f;
}

#messages_page #ajax_messages article .pw_cont div strong{font-weight: bold;}
#messages_page #ajax_messages article .pw_cont div em{font-style: italic;}
#messages_page #ajax_messages article .pw_cont div u{text-decoration: underline;}
#messages_page #ajax_messages article .pw_cont div s{text-decoration: line-through;}
#messages_page #ajax_messages article .pw_cont div blockquote {	
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-style: italic;
	font-weight: normal;
	color: #d2d1d1;
	padding: 10px;
	margin: 10px;
	border: 0;
	border-radius: 5px;
}
#messages_page #ajax_messages article.sb_post .pw_cont div blockquote {background: #3a3a3a;}
#messages_page #ajax_messages article.my_post .pw_cont div blockquote {background: #2e2e2e;}
/* Lista wątków ------------------------------------------------------------------------------------------------------*/
#messages_page .read_0 .pw_cont,
#messages_page .read_1 .pw_cont {
	padding: 10px 20px;
}

#messages_page .read_0 .pw_cont .interlocutor,
#messages_page .read_1 .pw_cont .interlocutor {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 18%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	border-right: 1px #525252 dotted;
}

#messages_page .read_0 .pw_cont h4,
#messages_page .read_1 .pw_cont h4 {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 32%;
	height: 30px;
	overflow: hidden;
	background: none;
	border: 0;
	border-right: 1px #525252 dotted;
	padding: 0 10px;
	margin: 0;
	font: inherit;
}

#messages_page .read_0 .pw_cont h4 a,
#messages_page .read_1 .pw_cont h4 a {
	color: #fff;
}

#messages_page .read_0 .pw_cont time,
#messages_page .read_1 .pw_cont time {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 20%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	border-right: 1px #525252 dotted;
	font-style: italic;
	color: #5f5f5f;
}

#messages_page .read_0 .pw_cont p,
#messages_page .read_1 .pw_cont p {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 14px;
	margin-left: 15px;
	padding-left: 20px;
}

#messages_page .read_0 .pw_cont .new_mes,
#messages_page .read_1 .pw_cont .new_mes {
	background: url(../images/messages/email.png) left center no-repeat;
	color: #ffd0d0;
}

#messages_page .read_0 .pw_cont .read_mes,
#messages_page .read_1 .pw_cont .read_mes {
	background: url(../images/messages/email_open.png) left center no-repeat;
}

#messages_page .read_0 .pw_cont .sent_mes,
#messages_page .read_1 .pw_cont .sent_mes {
	background: url(../images/messages/email_go.png) left center no-repeat;
	color: #d2def2;
}

#messages_page .read_0 .pw_cont .del_mes,
#messages_page .read_1 .pw_cont .del_mes {
	background: url(../images/messages/email_delivered.png) left center no-repeat;
	color: #d7e8b5;
}

/* Tab menu ---------------------------------------------------------------------------------------------- */
#messages_page nav ul {
    float: left;
    padding: 0;
}

#messages_page nav ul li {
	display: inline;
}

#messages_page nav ul li a {
    background: #3A3A3A;
    border-radius: 5px 5px 0 0;
    border-top: 2px solid #9FD10F;
    color: #FAFAFA;
	font-size: 12px;
	font-weight: bold;
    float: left;
    margin-right: 5px;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}

#messages_page nav ul li a:visited {
	color: #fafafa;
}

#messages_page nav ul li a.selected {
    background-color: #2E2E2E;
    color: #FAFAFA !important;
}
/* Tab content ------------------------------------------------------------------------------------------------------- */
#messages_page .tab_cont {
    background: #2E2E2E;
    border-radius: 0 5px 5px 5px;
    float: left;
	padding: 10px 0;
    width: 100%;
}

/* Formularz -------------------------------------------------------------------------------------------------------- */
#messages_page form {
	margin: 10px 20px;
	padding: 10px 30px;
	background: #2e2e2e;
	border-radius: 5px;
}

#messages_page form .line {
	margin: 8px 0;
}

#messages_page form .line label,
#messages_page form .line .label {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	font-weight: bold;
}

#messages_page form .line #message_subject,
#messages_page form .line #message {
	width: 420px;
}

#messages_page form .line .message_to_menu {
	display: inline-block;
}

#messages_page form .line .message_to_menu #send_to {
	width: 180px;
	outline: none;
}

#messages_page form .line #message {
	resize: vertical;
}

/* Wybrany adresat-------------------------------------------------------------------------------------------------------- */
#defender_user {
	display: inline-block;
	padding: 3px 8px;
	background: #fff;
	font-size: 11px;
	color: #333;
	border-radius: 5px;
}

#defender_user img {
	width: 7px;
	height: 7px;
	cursor: pointer;
}

/* Lista userów----------------------------------------------------------------------------------------------- */
#defenders ul,
#defenders .defender_error {
	display: block;
	position: absolute;
	width: 200px;
	background: #fff;
	font-size: 11px;
	color: #333;
	margin: 0;
	padding: 2px 10px;
	border: 0;
	border-radius: 0 5px 5px 5px;
	-webkit-box-shadow: 0px 3px 21px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 3px 21px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 3px 21px rgba(50, 50, 50, 0.75);
}

#defenders ul {
	list-style: none;
}

#defenders .defender_error {
	text-align: center;
	padding: 5px 10px;
}

#defenders ul li {
	margin: 0;
	padding: 0;
	cursor: pointer;
	list-style: none;
	line-height: 180%;
	border-bottom: 1px #e5e5e5 dashed;
}

#defenders ul li:last-child {
	border: 0;
}

#defenders ul li:hover {
	color: #000;
	text-decoration: underline;
}