/* Strona z listą kategorii */
.cat_info li {
	display: inline;
	list-style: none;
}

.cat_info li a  {
	display: block;
	text-align: center;
	overflow: hidden;
	float: left;
	width: 27%;
	height: 118px;
	margin: 0 10px 10px 10px;
	padding: 10px 10px 0 10px;
	background: #2e2e2e;
	border-radius: 5px;
}

.cat_info li a:hover {
	text-decoration: none;
}

.cat_info li a strong {
	font-size: 12px;
	font-weight: bold;
}

.cat_info li a img {
	display: block;
	border: 0;
	margin: 5px auto;
	opacity: 0.5;
}

.cat_info li a:hover img {
	opacity: 1;
}

.cat_info li a small {
	font-size: 10px;
	color: #5d5d5d;
}