/* form */
#passwordForm p {
	margin: 10px 0;
	text-align: center;
}

#passwordForm form {
	margin: 20px 0;
	display: block-inline;
	text-align: center;
}

#passwordForm form .textbox {
	margin: 0 10px;
	width: 160px;
}