/* form */
#password_form p {
	margin: 10px 0;
	text-align: center;
}

#password_form form {
	margin: 20px 0;
	display: block;
	text-align: center;
}

#password_form form .textbox {
	margin: 0 10px;
	width: 160px;
}