.indentmenu {
	font: bold 13px Arial;
	width: 100%;
}

.indentmenu ul {
	margin: 0 0 5px 0;
	padding: 0;
	float: left;
}

.indentmenu ul li {
	display: inline;
}

.indentmenu ul li a {
	float: left;
	color: #fafafa;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
	padding: 4px 15px;
	margin-right: 5px;
	background: #3a3a3a;
	border-top: 2px #9fd10f solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.indentmenu ul li a:visited {
	color: #fafafa;
}

.indentmenu ul li a.selected {
	color: #fafafa !important;
	background: #2e2e2e url(../images/profile/profile_bg.png);
}

/*Main profile CSS*/
.profile {
	width:550px;
	margin:auto;
}
.profile-avatar {
	float:left;
	width:110px;
	height:110px;
	border-radius:10px;
	background:#878788;
	padding-left:10px;
	padding-top:10px;
	margin:10px;
}
.avatar {
	width:100px;
	height:100px;
}
.profile-title {
	width:350px;
	height:30px;
	border-radius:15px;
	margin-top:20px;
	padding:5px 15px;
}
#profile-username {
	position:relative;
	bottom:6px;
}
#profile-status {
	float:right;
	position:relative;
	top:7px;
}
.profile img {
	margin-right:5px;
	padding-top:3px;
}
.profile span {
	color:#fff;
	font-size:16px;
	padding-top:5px;
}
.profile-info {
	width:350px;
	border-radius:15px;
	margin-top:10px;
	padding:10px 15px;
	margin-bottom:10px;
}
.profile-info strong {
	width:200px;
	display:inline-block;
}
.profile-info span,
.profile-info img {
	vertical-align:middle;
}
.profile-fields {
	float:left;
	width:98%;
	background: #2e2e2e;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:7px;
}
.profile-fields p strong {
	color: #d0ef00;
}
.profile-fields p {
	text-align:center;
}
.profile-fields p.profile_sign {
	text-align:left;
}
.profile-fields p.profile_sign strong {
	display: block;
	text-align:center;
}
.profile-fields-col {
	float:left;
	width:25%;
}
.profile-col {
	width:90%;
	margin:auto;
}
.profile-col .col {
	float:left;
	width: 50%;
}