/* Profile header ------------------------------------------------------------------- */
#profile {
	width:100%;
	background:#2e2e2e;
	margin-bottom: 20px;
	overflow:hidden;
	border-radius:5px;
}

/* Avatar */
#profile .profile_avatar {
	float:left;
	width:120px;
	margin:10px 20px;
	text-align: center;
}
#profile .profile_avatar > img {
	max-width:100px;
	max-height:100px;
	border: 10px #3a3a3a solid;
	border-radius:5px;
}
#profile .profile_avatar p {
	text-align: center;
}
#profile .profile_avatar p img {
	margin-right:5px;
	vertical-align: middle;
}
#profile .profile_avatar p span.online {
	color: #9fd10f;
	font-size: 16px;
}

/* User name and status */
#profile .profile_title {
	margin-right: 30px;
	padding-top: 15px;
}
#profile .profile_title img {
	margin-right:5px;
	padding-top:3px;
}
#profile .profile_title span {
	color:#fff;
	font-size:16px;
	padding-top:5px;
}
#profile .profile_title #profile_username,
#profile .profile_title #profile_status {
	position:relative;
	bottom: 2px;
}
#profile .profile_title #profile_status {
	color: #515151;
	font-size: 12px;
	float: right;
}
#profile .profile_title a {
	position:relative;
	bottom: 4px;
	margin: 0 7px;
	color: #515151;
}

/* Main info about user */
#profile ul {
	background-color: #3a3a3a;
	overflow:hidden;
	margin: 10px 20px 10px 0;
	padding:15px 0;
	border-top: 2px #9fd10f solid;
	border-radius:5px;
}
#profile ul li {
	list-style: none;
	display: block;
	font-size: 12px;
	line-height: 23px;
	padding: 0 15px 0 30px;
	margin: 0;
}
#profile ul li strong {
	width:40%;
	display:inline-block;
	vertical-align: top;
}
#profile ul li span {
	width: 60%;
	display:inline-block;
}

/* Tab menu ----------------------------------------------------------- */
#profile_menu ul {
    float: left;
    padding: 0;
}

#profile_menu ul li {
	display: inline;
}

#profile_menu ul li a {
    background: #3A3A3A;
    border-radius: 5px 5px 0 0;
    border-top: 2px solid #9FD10F;
    color: #FAFAFA;
	font-size: 12px;
	font-weight: bold;
    float: left;
    margin-right: 5px;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}

#profile_menu ul li a:visited {
	color: #fafafa;
}

#profile_menu ul li a.selected {
    background-color: #2E2E2E;
    color: #FAFAFA !important;
}

/* Tab content -------------------------------------------------------------------- */
.tab_cont {
    background: #2E2E2E;
    border-radius: 0 5px 5px 5px;
    float: left;
    padding: 7px;
    width: 98%;
}
.tab_cont .element {
	padding: 5px 15px;
	margin:5px 10px;
	background: #3a3a3a;
	border-radius: 5px;
}
.tab_cont .element:nth-child(odd) {
	width: 42%;
	float: left;
	margin: 5px 0 5px 10px;
}
.tab_cont .element:nth-child(even) {
	width: 42%;
	float: right;
	margin: 5px 10px 5px 0;
}
.tab_cont .element strong{
	width: auto;
	float: left;
	color: #9fd10f;
}
.tab_cont .element span {
	display: block;
	width: auto;
	float: right;
}
.tab_cont .element_big {
	clear: both;
	float: left;
	margin:5px 10px;
}
.tab_cont .element_big strong {
	color: #9fd10f;
	background: #3a3a3a;
	display: block;
	padding: 5px 15px;
	border-radius: 5px;
}
.tab_cont .element_big p {
	padding: 5px 15px;
}
