/* Profile header ------------------------------------------------------------------- */
#profile {
	margin-bottom: 20px;
	overflow:hidden;
	border-radius:5px;
}

/* Avatar */
#profile .profile_avatar {
	float:left;
	width:120px;
	margin:10px 20px;
	text-align: center;
}
#profile .profile_avatar > img {
	max-width:100px;
	max-height:100px;
	border-width: 10px;
	border-style: solid;
	border-radius:5px;
}
#profile .profile_avatar p {
	text-align: center;
}
#profile .profile_avatar p img {
	margin-right:5px;
	vertical-align: middle;
}
#profile .profile_avatar p span.online {
	color: #9fd10f;
	font-size: 16px;
}

/* User name and status */
#profile .profile_title {
	margin-right: 30px;
	padding-top: 15px;
}
#profile .profile_title img {
	margin-right:5px;
	padding-top:3px;
}
#profile .profile_title span {
	font-size:16px;
	padding-top:5px;
}
#profile .profile_title #profile_username,
#profile .profile_title #profile_status {
	position:relative;
	bottom: 2px;
}
#profile .profile_title #profile_status {
	font-size: 12px;
	float: right;
}
#profile .profile_title a {
	position:relative;
	bottom: 4px;
	margin: 0 7px;
}

/* Main info about user */
#profile ul {
	overflow:hidden;
	margin: 10px 20px 10px 0;
	padding:15px 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-radius:5px;
}
#profile ul li {
	list-style: none;
	display: block;
	font-size: 12px;
	line-height: 23px;
	padding: 0 15px 0 30px;
	margin: 0;
}
#profile ul li strong {
	width:40%;
	display:inline-block;
	vertical-align: top;
}
#profile ul li span,
#profile ul li time {
	width: 60%;
	display:inline-block;
}

/* Zakładki */
.tab_cont .element {
	padding: 5px 15px;
	margin:5px 10px;
	border-radius: 5px;
}
.tab_cont .element:nth-child(odd) {
	width: 42%;
	float: left;
	margin: 5px 0 5px 10px;
}
.tab_cont .element:nth-child(even) {
	width: 42%;
	float: right;
	margin: 5px 10px 5px 0;
}
.tab_cont .element strong{
	width: auto;
	float: left;
}
.tab_cont .element span {
	width: auto;
	float: right;
}
.tab_cont .element_big {
	clear: both;
	padding:5px 10px;
}
.tab_cont .element_big strong {
	display: block;
	padding: 5px 15px;
	border-radius: 5px;
}
.tab_cont .element_big p {
	padding: 5px 15px 0 15px;
}

.tab_menu ul {margin:0}
