#team h4 {margin-bottom: 10px;}

.team {
	width:600px;;
	margin:auto;
	border-radius:10px;
	margin-bottom:20px;
}
.team-avatar {
	float:left;
	width:80px;
	height:80px;
	border-radius:10px;
	background:#878788;
	padding-left:10px;
	padding-top:10px;
	margin:10px;
}
.avatar {
	width:70px;
	height:70px;
}
.team-title {
	width:95%;
	height:30px;
	border-radius:15px;
	padding:5px 15px;
	font-size:14px;
}
#team-username {
	position:relative;
	left:10px;
	bottom:-2px;
}
#team-status {
	float:right;
	position:relative;
	top:7px;
}
.team img {
	margin-right:5px;
	padding-top:3px;
}
.team span {
	color:#fff;
	font-size:16px;
	padding-top:5px;
}
.team-info {
	width:70%;
	border-radius:15px;
	margin-top:10px;
	padding:10px 15px;
	margin-bottom:10px;
}
.team-info strong {
	width:200px;
	display:inline-block;
}