.mdp {
	width:90%;
	height:160px;
	margin:10px;
	border-radius:15px;
	padding:5px;
}
.mdp a:hover {
	text-decoration:none;
}
.mdp img {
	float:left;
	width:20%;
	height: 150px;
	border-radius: 15px;
	margin:5px;
}
.mdp-title {
	float:left;
	margin:5px;
	height:10%;
	width:75%;
	border-radius:5px;
	padding:5px;
}
.mdp-desc {
	float:left;
	margin:5px;
	width:75%;
	height:40%;
	border-radius:5px;
	padding:5px;
	overflow:auto;
}
.mdp-info {
	float:left;
	margin:5px;
	height:10%;
	border-radius:5px;
	padding:5px;
}
.mdp-mirror {
	width:90%;
	margin:10px;
	border-radius:15px;
	padding:5px;
}