#ShoutBoxPanel {
	margin-top: 10px;
}
#ShoutBoxPanel .InfoBoxInput {
	width: 90%;
	height: 50px;
	margin: auto;
	border-radius: 5px;
}
#ShoutBoxPanel #ShoutBoxPosts .InfoBoxPanel .InfoBoxCon .user a {
	font-weight: bold;
}
#ShoutBoxPanel #ShoutBoxPosts .InfoBoxPanel .InfoBoxCon .date{
	font-style: italic;
	float: right;
}
#ShoutBoxPanel #ShoutBoxPosts .InfoBoxPanel .InfoBoxCon .message{
	margin: 5px;
}
#ShoutBoxPanel #ShoutBoxPosts .InfoBoxPanel .InfoBoxCon .MessageInfo{
	border-bottom: 1px solid #eee;
	width: 100%;
	float: left;
}