/* Tab menu ---------------------------------------------------------------------------------------------- */
#messages_page nav {
	position: relative;
}

#messages_page nav p {
	position: absolute;
	right: 0;
	top: -6px;
}

/* Lista wątków ------------------------------------------------------------------------------------------------------*/
#messages_page .info {
	margin: 10px 0 20px 0;
}

#messages_page .tab_cont .short_post .pw_cont {
	padding: 10px 20px;
}

#messages_page .tab_cont .short_post .pw_cont .interlocutor {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 18%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	border-right-width: 1px;
	border-right-style: dotted;
}

#messages_page .tab_cont .short_post .pw_cont h4 {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 32%;
	height: 30px;
	overflow: hidden;
	background: none;
	border-bottom: 0;
	border-right-width: 1px;
	border-right-style: dotted;
	padding: 0 10px;
	margin: 0;
	font: inherit;
}

#messages_page .tab_cont .short_post .pw_cont time {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 20%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	border-right-width: 1px;
	border-right-style: dotted;
	font-style: italic;
}

#messages_page .tab_cont .short_post .pw_cont p {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 14px;
	margin-left: 15px;
	padding-left: 20px;
}

#messages_page .tab_cont .short_post .pw_cont .new_mes {
	background: url(../images/messages/email.png) left center no-repeat;
}

#messages_page .tab_cont .short_post .pw_cont .read_mes {
	background: url(../images/messages/email_open.png) left center no-repeat;
}

#messages_page .tab_cont .short_post .pw_cont .sent_mes {
	background: url(../images/messages/email_go.png) left center no-repeat;
}

#messages_page .tab_cont .short_post .pw_cont .del_mes {
	background: url(../images/messages/email_delivered.png) left center no-repeat;
}

/* Formularz -------------------------------------------------------------------------------------------------------- */
#messages_page form {
	margin: 10px 20px;
	padding: 10px 30px;
	border-radius: 5px;
}

#messages_page form .line {
	margin: 8px 0;
}

#messages_page form .line label,
#messages_page form .line .label {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	font-weight: bold;
}

#messages_page form .line #message_subject,
#messages_page form .line #message {
	width: 420px;
}

#messages_page form .line .message_to_menu {
	display: inline-block;
}

#messages_page form .line .message_to_menu #send_to {
	width: 180px;
	outline: none;
}

#messages_page form .line #message {
	resize: vertical;
}