/* news  --------------------------------------------------------------------------- */
.news {
	margin: 10px;
	border-top-width: 2px;
	border-top-style: solid;
	border-radius: 5px;
}

.news > header > p {
	padding: 18px 0 0 20px;
}

.news > header h3 {
	float: left;
	width: 70%;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	margin: 0 20px 20px 20px;
	padding: 0;
}

.news > header .news_comments {
	display: block;
	margin: -12px 20px 0 0;
	float: right;
	width: 46px;
	height: 37px;
	line-height: 30px;
	color: #000;
	font-size: 14px;
	text-align: center;
	background: url(../images/news/comment.png) no-repeat;
	opacity: 0.9;
}

.news > header .news_comments:hover {
	opacity: 1;
	text-decoration: none;
}

.news > header div {
	clear: both;
	text-align: center;
	margin: 0 -5px 20px -5px;
	padding: 0 10px;
	border-top-width: 2px;
	border-top-style: solid;
	border-radius: 5px;
}

.news > header div p {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	width: 22%;
	height: 45px;
	line-height: 45px;
	padding: 0 5px;
	border-left-width: 1px;
	border-left-style: dotted;
}

.news > header div  p:first-child {
	border: 0;
}

.news .formated_text {
	padding: 0 20px;
}

.news > footer {
	font-size: 10px;
	margin: 10px 20px 0 20px;
	padding-bottom: 10px;
}

.news > footer p strong {
	font-weight: bold;
}

.news > footer .more {
	width: auto;
	float: right;
}