/* Górna belka */
.cat_top {
	margin-bottom: 10px;
	padding: 10px 15px;
	border-radius: 5px;
}

.cat_top img {
	margin: 0 5px;
}

/* Strona kategorii */
.news {
	margin: 0;
	margin-bottom: 10px;
	width: 49%;
	float: left;
}

.news:nth-child(odd) {
	clear: both;
}

.news:nth-child(even) {
	float: right;
}

.news > header h3 {
	width: 80%;
}

/* Strona z listą kategorii */
.cat_list li {
	display: inline;
	list-style: none;
}

.cat_list li a  {
	display: block;
	overflow: hidden;
	text-align: center;
	float: left;
	width: 30%;
	height: 128px;
	margin-bottom: 10px;
	padding: 0;
	border-radius: 5px;
}

.cat_list li:nth-child(3n+2) a {
	margin: 0 5% 10px 5%;
}

.cat_list li a:hover {
	text-decoration: none;
}

.cat_list li a span {
	display: block;
	overflow: hidden;
	padding: 10px 10px 0 10px;
}

.cat_list li a span strong {
	font-size: 12px;
	font-weight: bold;
}

.cat_list li a span img {
	display: block;
	border: 0;
	margin: 5px auto;
	opacity: 0.5;
}

.cat_list li a:hover span img {
	opacity: 1;
}

.cat_list li a span small {
	font-size: 10px;
}