/* Wszystkie podstawowe style strony */
body {color:#555;background:#000;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;margin:0px;}
h1 {font-family:Arial,Helvetica,sans-serif;font-size:20px;padding:0;margin:0;}
h2 {font-family:Arial,Helvetica,sans-serif;font-size:18px;padding:0;margin:0;}
h3 {font-family:Arial,Helvetica,sans-serif;font-size:16px;padding:0;margin:0;}
h4 {font-family:Arial,Helvetica,sans-serif;font-size:14px;padding:0;margin:0;}
h5 {font-family:Arial,Helvetica,sans-serif;font-size:12px;padding:0;margin:0;}
hr, hr.side-hr {border:0;background:#333;width:98%;height:1px;}
.border {margin-bottom:5px;}



/* Style LINKÓW */
a {color:#FFF;text-decoration:none;}
a:hover {color:#FFF;text-decoration:none;}
a.side {color:#FFF;text-decoration:none;}
a:hover.side {color:#FFF;text-decoration:underline;}
a.white {color:#ccc;text-decoration:none;}
a:hover.white {color:#ccc;text-decoration:underline;}
.pagenav a {border:1px solid #d1d2d4;padding:0.2em 0.4em 0.2em 0.4em;margin:0.2em;text-decoration:none;}
.pagenav a:hover {background:#356481;margin:0.2em;text-decoration:none;}
#navigation a {display:block;background:#c4cccf;padding:2px;text-decoration:none;}
#navigation a:hover {background:#356481;}
.forum-nav {background:transparent url(../images/a1.gif) no-repeat scroll 4px 9px;color:#666;display:block;font-size:11px;text-decoration:none;text-transform:none;margin:0;padding:4px 0 0 22px;height:20px;}
.forum-nav-active {color:#fff;font-weight:bold;}
.navigation-block {position:relative;top:0;left:0;}
ul.sliding-navigation li.sliding-element h3, ul.sliding-navigation li.sliding-element a {display:block;}
ul.sliding-navigation li.sliding-element h3 {color:#fff;font-weight:normal;}
ul.sliding-navigation li.sliding-element a {color:#999;text-decoration:none;}
ul.sliding-navigation li.sliding-element a:hover {color:#FFA601;}



/* Style LIST */
ul {margin:0;padding:0;}
li {list-style:none;}
.white-header ul {margin:0;padding:0;}
.white-header ul li {display:inline;}
.white-header ul li.first-link .bullet{display:none;}
.white-header ul li a {padding:6px;}
ul li a.side {background:transparent url(../images/a1.gif) no-repeat scroll 0 9px;color:#FFFFFF;display:block;font-size:12px;font-weight:bold;text-decoration:none;text-transform:none;margin:0;padding:4px 0 0 12px;height:20px;}
.footer-desc ul li {background:transparent url(../images/a1.gif) no-repeat scroll 0 9px;display:block;font-size:11px;text-decoration:none;text-transform:none;margin:0;padding:4px 0 0 12px;}


/* Style FORMULARZY */
form {margin:0px auto;}
select {background:#EEE;color:#6F6F6F;border:solid 2px #DFDFDF;} 
.button {color:#FFA601;font-weight:bold;background:#222;border:1px solid #333;padding:4px 8px 4px 8px;border:2px;}
.bbcode {color:#000;margin-top:2px;}
.textbox {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#FAFAFA;background:#1D1D1D;border:2px solid #333;padding:3px;}



/* Style TABELEK */
td {font-size:11px;}
pre {font-size:11px;}
.alt {color:#555;}
.tbl {background:#3B3B3B;padding:4px;}
.tbl1 {background:#2E2E2E;padding:4px;}
.tbl2 {background:#3B3B3B;padding:4px;}



/* Style GŁÓWNE (THEME.PHP)*/
.div-corner {background:#181818;}
#main-bg {margin:10px 230px;}
.side-left #main-bg {margin-left: 230px;}
.side-right #main-bg {margin-right: 230px;}
.side-left #side-border-right {display:none;}
.side-right #side-border-left {display:none;}
#sitelogo {margin:0 0 0 20px;}
.white-header {padding:4px;margin:0 20px 0 20px;}
.full-header {color:#ddd;background :#191919 url(../images/header-bg.gif) repeat-x;border-top:4px solid #252525;border-bottom:4px solid #252525;padding:10px 1% 10px 1%;height:200px;}
.main-body {font-size:13px;text-align:justify;color:#CCC;}
.news-body {padding:10px;}
.side-body {padding:4px;}
.capmain {background: #191919 url(../images/bg-h.gif) repeat-x top left;font-family: Arial,Helvetica,sans-serif;font-size:16px;font-weight:bold;color:#229DC7;margin:2px 0;padding:16px 0 18px 22px;}



/* Style PANELI BOCZNYCH */
#side-border-left {width:200px;float:left;padding:0px 10px 0px 10px;background:#141414 url(../images/panel-bg.png) no-repeat top left;}
#side-border-right {width:200px;float:right;padding:0px 10px 0px 10px;background:#141414 url(../images/panel-bg.png) no-repeat top right;}
.scapmain {font-weight:bold;font-family: Arial,Helvetica,sans-serif;background:transparent url(../images/bg-h3.gif) no-repeat scroll 0 19px;color:#FFF;font-size:14px;font-weight:bold;margin-left:7px;padding:18px 0 5px 33px;text-transform:capitalize;}



/* Styl STOPKI STRONY */
.full-footer {color:#555;background:#191919;border-top:4px solid #171717;padding:5px;height:140px;font-size:11px;}
.contents {width:33%;float:left;display:inline;}
.leftcolumn {width:33%;float:left;}
.rightcolumn {width:33%;float:left;}
.footer-title {font-weight:bold;font-family: Arial,Helvetica,sans-serif;color:#FFF;font-size:16px;font-weight:bold;text-transform:capitalize;text-align:center;}
.footer-desc {margin:0 30px 0 30px;padding:10px;background:#141414 url(../images/footer-bg.png) no-repeat top center;}
.copy-footer {color:#555;background:#191919;padding:5px;font-size:11px;}



/* Styl NEWSÓW */
.news-category {border:0;margin:3px 5px 0 0;float:left;}
.news-footer {text-align:center;font-size:10px;color:#555;}
.barmain {color:#aaa;padding:4px;}



/* Style INNE */
.forum-caption {background: #191919 url(../images/bg-h.gif) repeat-x top left;font-family: Arial,Helvetica,sans-serif;font-size:16px;color:#CECECE;padding:12px 0 14px 22px;}
.forum {background: #212121;padding:10px;margin:2px 4px;}
.forum-user {background:#1A1A1A;height:106px;padding:10px 20px 10px 20px;}
.quote {color:#000;background:#fff;padding:2px;margin:0 20px;border:1px solid #617d8f;}
.poll {height:12px;border:1px solid #000;}
.comment-name {font-weight:bold;color:#bbb;}
.shoutboxname {font-weight:bold;color:#ccc;}
.shoutbox {color:#415d8f;}
.shoutboxdate {font-size:10px;color:#213d6f;background:#c4cccf;}
.small {font-family:Verdana, Tahoma, Arial, Sans-Serif;font-size:10px;font-weight:normal;}
.right {text-align:right;float:right;padding:0 10px 0 0;}
.small2 {font-size:11px;font-weight:normal;color:#555;}
.side-small {font-size:11px;background:#c4cccf;}
.side-label {background:#b6bec2;padding:2px;}
#navigation h2 {background:#b6bec2;margin:0;padding:4px;}
#navigation ul {margin:0;padding:0;list-style-type:none;}
* html #navigation ul li {height:1%;}
.pagenav {padding: 0.4em;}
.pagenav span {background:#c4cccf;border:1px solid #e1e1e1;padding:0.2em 0.4em 0.2em 0.4em;margin:0.2em;}



.center {margin: 0 auto;}
.content_center {text-align: center;}
.flleft {float: left !important;}
.flright {float: right !important;}
.clear {clear: both;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:block;}
.floatfix {overflow:hidden;}
* html .floatfix {width:100%;}
.center, *[align="center"] {margin: 0 auto;}
