a {
	color: #D0EF00;
	text-decoration: none;
	outline:none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

a.side {
	color: #D0EF00;
	text-decoration: none;
}

a:hover.side {
	color: #fff;
	text-decoration: underline;
}

a.white, li.white a {
	color: #fff;
	text-decoration: none;
}

a:hover.white, li.white a:hover {
	color: #5eaad5;
	text-decoration: underline;
}

a.menu, li.menu a {
	color: #fff;
	text-decoration: none;
	padding: 8px 15px 10px 15px;
	margin:0 6px;
	border:1px solid transparent;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
}

a:hover.menu, li.menu a:hover {
	color: #B4D400;
	text-decoration: none;
	color: #fff;
	background:#373737;
	border:1px solid #616161;
	box-shadow:inset 0 0 8px #151515;
}

a.bottom-menu, li.bottom-menu a {
	color:#bbb;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 15px 10px 15px;
}

a:hover.bottom-menu, li.bottom-menu a:hover {
	color: #B4D400;
	text-decoration: none;
}

body {
	color: #555;
	background:#000;
	font-family:Tahoma,Geneva,Kalimati,sans-serif;
	font-size: 12px;
	outline:none;
}
#MainWrap {min-width:960px;width:92%;}

form {
	margin: 0px;
}
textarea {resize:none;}
label {cursor:pointer;}
table {border:none;}

hr, hr.side-hr {
	height: 1px;
	border: 1px solid #444;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

pre {
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 11px;
}

.alt {
	color: #555;
}
 
.outer-border {
	border: 1px solid #000;
}

.sub-header {
	font-size:12px;
	font-weight:bold;
	color: #444;
	background:#303030 url(../images/menu-bg.gif) repeat-x;
	border-left: 1px solid #595959;
	border-right: 1px solid #595959;
	padding: 17px 5px 18px 0px;
	position:relative;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
}

.sub-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
}

.sub-header ul li {
	display: block;
	float: left;
	margin: 0px;
}
.sub-header ul li a {
	color:#444;
}

.sub-header ul li.first-link .bullet {
	display: none;
}

.full-header {
	background:transparent url(../images/new-header-bg.png) 0 0 no-repeat;
	font-size: 11px;
	color: #ddd;
	padding:1px 0 42px;
	margin:0;
	z-index:100;
	}
.full-header #RightHeaderBG {
	position:absolute;
	top:11px;
	right:0px;
	
	width:512px;
	height:163px;
	background:transparent url(../images/right-header-bg.png) 0 0 no-repeat;
	z-index:100;
	}
.full-header #RightHeaderBG a {
	display:block;
	width:219px;
	height:60px;
	margin:58px 0 0 130px;
	text-indent:-5000px;
	}
.footer {font-size:11px;color:#888;padding:5px;}
.footer img {vertical-align:middle;}

.bottom {font-size:11px;text-align:center;color:#777;padding:10px 15px 10px 15px;}
.bottom ul {margin: 0;padding: 0;list-style-type: none;width: auto;}
.bottom ul li {display:inline;}


/* Admin messages */
.admin-message {
	font-size: 14px;
	font-weight:bold;
	text-align:center;
	color:#666;
	background:#fffbcc;
	border:1px solid #e6db55;
	padding:11px 10px 12px;
	margin:0 10px 8px;
	top:2%;left:2%;right:2%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	}
.admin-message a {color:#999;font-weight:bold;text-decoration:underline;}
.admin-message a:hover {color:#000;}



/* Forum button */
.button {
	cursor:pointer;
	font-size:11px;
	font-weight:bold;
	color:#000;
	padding:3px 6px;
	background:#BADB00 url(../images/button-bg.gif) repeat-x 0 0;
	border:1px solid #CBEF00;
	text-shadow:1px 1px 1px #E3EF92;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	margin:4 px;
	}
.button:hover {background-position:0 -25px;}

.buttone {
	cursor:pointer;
	font-size:11px;
	font-weight:bold;
	color:#000;
	padding:3px 6px;
	background:#BADB00 url(../images/button-bg2.gif) repeat-x 0 0;
	border:1px solid #CBEF00;
	text-shadow:1px 1px 1px #E3EF92;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	margin:3px;
	}
.buttone:hover {background-position:0 -25px;text-decoration:none;color:#000;}


.bbcode {
	font-size: 10px;
	color: #555;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	margin-top: 2px;
}

.textbox {
	font-size: 11px;
	color:#ccc;
	margin:2px 0 0;
	padding:3px;
	border:1px solid #444;
	background:#383838;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}

.main-body {
	font-size: 11px;
	color: #f0f0f0;
	background-color: #333;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	padding: 8px;
	margin:0 0 10px;
	line-height:16px;
	text-align:justify;
	width:auto;
	border-bottom-left-radius:6px;
	border-bottom--right-radius:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
}
.main-body p {
	line-height:16px;
}
.side-body, .side-body2 {
	font-size: 11px;
	color: #f0f0f0;
	background:#282828;
	padding:6px;
	margin:0 220px 10px 220px;
}
.side-body {
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
}
.FacebookLike {
	height:28px;
	margin:10px 0 0;
	display:block;
	}

.side-body2 {
	padding:10px;
	margin:4px 0 0;
	border: 1px solid #333;
	line-height:16px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	box-shadow:inset 0 0 8px #151515;
	}
.side-body a, .side-body2 a {
	padding: 3px;
	}
.side-body-bg {
	padding: 4px;
	margin: 0px 0px 10px 0px;
	}
#main-bg {
	color: #555;
	background: #222;
	padding: 10px 5px 5px 5px;
	border-bottom: 1px solid #3f3f3f;
	border-left: 1px solid #3f3f3f;
	border-right: 1px solid #3f3f3f;
	box-shadow:inset 0 0 8px #151515;
	border-bottom-left-radius:6px;
	border-bottom--right-radius:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	}
#container {padding:0 220px;}

.side-both #main-bg {margin: 0 225px;}
.side-right #main-bg {margin-left: 225px;}
.side-left #side-border-right {display: none;}
.side-right #side-border-left {display: none;}

.center {
	margin: 0 auto;
}
	
* html #main-bg {
	height: 0px;	
}

.border {
	border: 1px solid #e1e1e1;
	margin-bottom: 5px;
}

#side-border-left {
	color: #777;
	background-color: #222;
	float: left;
	padding: 8px;
	width: 210px;
}

#side-border-right {
	color: #777;
	background-color: #222;
	float: right;
	padding: 8px 8px 8px 0;
	width: 210px;
	border-right: 1px solid #3f3f3f;
}

.news-category {
	border: 0;
	margin: 3px 5px 0 0;
	float: left;
}

.barmain {
	font-size: 10px;
	color: #aaa;
	padding: 4px;
}

.capmain {
	margin:0;
	font-size:14px;
	color: #fafafa;
	background:#303030 url(../images/header-bg.png) repeat-x;
	border-left: 1px solid #595959;
	border-right: 1px solid #595959;
	padding: 12px 5px 14px 10px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
}
.capmain h1, .capmain h3 {font-weight:bold;font-size:14px;color:#fafafa;margin:0;padding:0;}
.capmain .NewsAuthor {padding:2px 0 0;font-size:11px;font-weight:normal;color:#ccc;text-align:right;}
.capmain .NewsAuthor a {color:#fafafa}
.capmain .NewsAuthor a:hover {color:#d0ef00}

.scapmain {
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding: 4px;
	background:url(../images/ef-icon.png) no-repeat 0 6px;
}
.scapmain h4 {font-size:14px;font-weight:normal;color:#fff;margin:0;padding:0 0 0 14px;}

.tbl {
	overflow:hidden;
	padding:5px 0;
	font-size: 11px;
}

.tbl1 {
	font-size: 11px;
	background-color: #2e2e2e;
	padding: 4px;
	overflow:hidden;
}

.tbl2 {
	font-size: 11px;
	background-color: #3a3a3a;
	padding: 4px;
	overflow:hidden;
}


.tbl2 img, .tbl2 img {vertical-align:middle;}


.forum-caption {
	font-size:16px;
	color: #444;
	background:#303030 url(../images/menu-bg.gif) repeat-x;
	padding: 10px 8px 12px;
}
.forum-caption a {color:#fafafa;}
.forum-caption a:hover {color:#000;}
.forum_thread_user_info {padding:6px 6px 6px 10px;}
.forum_thread_user_name, .forum_thread_post_date, .forum_thread_ip, .forum_thread_userbar {color:#ccc;padding:4px 6px;background:#424242;}
.forum_thread_ip {
	background:#3D3D3D;
	border-bottom-left-radius:4px;
	border-bottom--right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius4px;
	}
.forum_thread_post_date, .forum_thread_userbar {background:#323232;}

.forum_thread_user_name {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	}

.forum_cat_name, .forum-caption {font-weight:bold;}
.forum_cat_name, .forum-caption {font-size:12px;padding: 3px 8px;}

.quote {
	font-size: 11px;
	color: #777;
	background: #555;
	padding: 4px;
	margin: 0px 20px 0px 20px;
	border: 1px solid #bbb;
}

.poll {
	margin:3px 0;
	height: 6px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
}

.comment-name {
	font-weight: bold;
	color: #005599;
}

.shoutboxname {
	font-weight: bold;
	color: #005599;
}

.shoutbox {
	color: #777;
}

.shoutboxdate {
	font-size: 10px;
	color: #888;
}

.small {
	font-size: 10px;
	font-weight: normal;
}

.small2 {
	font-size: 10px;
	font-weight: normal;
	color: #555;
}

.side-small {
	font-size: 10px;
	font-weight: normal;
	color: #555;
	background-color: #f6f6f6;
}

.side-label {
	color: #ccc;
	background-color: #444;
	padding: 4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	}

/* Vertical Navigation */

#navigation h2 {
	font-size: 10px;
	color: #555;
	background-color: #f1f1f1;
	margin: 0;
	padding: 4px;
}
	
#navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

* html #navigation ul li {
	height: 1%;
}

#navigation a {
	display: block;
	color: #D0EF00;
	padding: 4px;
	text-decoration: none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	}

#navigation a:hover {
	color: #fff;
	background-color: #111;
}

/* Page Navigation */
.pagenav {
	padding: 0.4em;
}

.pagenav span {
	color: #fff;
	background-color: #005599;
	border: 1px solid #e1e1e1;
	padding: 0.2em 0.4em 0.2em 0.4em;
	margin: 0.2em;
}

.pagenav a {
	color: #005599;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	padding: 0.2em 0.4em 0.2em 0.4em;
	margin: 0.2em;
	text-decoration: none;
}

.pagenav a:hover {
	color: #fff;
	background-color: #005599;
	margin: 0.2em;
	text-decoration: none;
}


/*Helpers*/
.center {margin: 0 auto;}
.content_center {text-align: center;}
.flleft {float: left !important;}
.flright {float: right !important;}
.clear {clear: both;}


/*IE Fixes*/
* html #main-bg {
	height: 1%;
	width: auto;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
.floatfix {overflow:hidden;}
* html .floatfix {width:100%;}

#HomeLink img {margin-top:44px; margin-left: 41px;}

#simpleTooltip {
	background:#3C3C3C url(../images/repeat.jpg) repeat-x 0 -37px;
	max-width:260px;
	line-height:1.4em;
	color:#fff;
	font-size:11px;
	padding:4px 10px 6px 10px;
	border:1px #010101 solid;
	border-bottom:1px #262626 solid;
	-moz-box-shadow:0px 0px 4px #010101;-webkit-box-shadow:0px 0px 4px #010101;box-shadow:0px 0px 4px #010101;
	} 

/*=======================
	Admina Menu & Cache Switcher
========================*/
#Cloud {
	background:none;
	position:fixed;
	bottom:5px;
	right:5px;
	color:#000;
	text-align:left;
	z-index:10;
	margin:0;
	}
#Cloud #CloudStart {
	width:40px;
	height:40px;
	float:left;
	cursor:pointer;
	}
#Cloud .inactive {background:transparent url(../images/panel-sprite.png) no-repeat 0 0;}
#Cloud .inactive:hover {background-position:-40px 0;}
#Cloud .active {background:transparent url(../images/panel-sprite.png) no-repeat -80px 0;}
#Cloud .active:hover {background-position:-120px 0;}
#Cloud #CloudDynamic {
	background:transparent url(../images/admin-sprite.png) no-repeat 0 -40px;
	font-weight:bold;
	padding:9px 2px 5px 2px;
	float:left;
	display:none;
	overflow:hidden;
	position:relative;
	}
#Cloud #CloudDynamic ul {margin:0;padding:0;width:200px;display:block;}
#Cloud #CloudDynamic ul li {display:inline;width:24px;}
#Cloud #CloudDynamic ul li .sep {width:7px;}

#Cloud #CloudDynamic form {overflow:hidden;width:356px;}
#Cloud #CloudDynamic form #UserName {margin:0 6px 0;}
#Cloud #CloudDynamic form #UserName input, #Cloud #CloudDynamic form #UserPass input {width:118px;}
#Cloud #CloudDynamic form input[type=checkbox] {position:absolute;left:269px;top:11px;}
#Cloud #CloudDynamic form #LoginButton {float:right;padding:0px 0 0;}
#Cloud #CloudDynamic input:not(.button) {
	color:#666;
	padding:3px;
	border:1px solid #ccc;
	background:#fafafa;
	}
#Cloud #CloudLogin {
	background:transparent url(../images/panel-sprite.png) no-repeat 0 -80px;
	font-weight:bold;
	padding:14px 0 12px 34px;
	float:left;
	}
#Cloud #CloudLogin img {
	max-width:16px;
	min-height:16px;
	vertical-align:middle;
	}
#Cloud #CloudLogin a {color:#444;}
#Cloud #CloudLogin span {color:#999;}
#Cloud #CloudEnd {
	background:transparent url(../images/panel-sprite.png) no-repeat 0 -120px;
	width:34px;
	height:40px;
	float:left;
	}

/* Clock */
.sub-header #fancyClock {position:absolute;top:3px;right:10px;}
.clock{
	height:42px;
	width:42px;
	position:relative;
	overflow:hidden;
	float:left;
	}
.clock .rotate{position:absolute;width:42px;height:42px;top:0;left:0;}
.rotate.right{display:none;z-index:11;}
.clock .bg, .clock .front {
	position:absolute;
	top:0;
	width:21px;
	height:42px;
	background:#fafafa url(../images/menu-bg.gif) repeat-x 0 -3px;
	}
.clock .display {
	position:absolute;
	width:42px;
	z-index:20;
	color:#333;
	font-size:12px;
	text-align:center;
	top:15px;
	left:1px;
	text-shadow:1px 1px 1px #fff;
	}
.clock .bg.left {left:0;}
.orange .bg.left, .green .bg.left, .blue .bg.left {background:url(../images/clock.png) no-repeat left top;}

.clock .bg.right {left:21px;}
.orange .bg.right, .green .bg.right, .blue .bg.right {background:url(../images/clock.png) no-repeat right top;}

.clock .front.left{left:0;z-index:10;}